@import "_mixins.scss";
@import "_variables.scss";

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #cddee6;
  @media screen and (min-width: $phone) {
    font-size: 13px;
  }

  @media screen and (min-width: $tabletPortrait) {
    font-size: 14px;
  }

  @media screen and (min-width: $desktop) {
    font-size: 16px;
  }

  @media screen and (min-width: $largeDesktop) {
    font-size: 18px;
  }
}

.btn {
  display: block;
  border: none;
  font-family: inherit;
  color: #ffffff;
  cursor: pointer;
  word-wrap: break-word;
  border-radius: 3px;
  &--submit {
    margin: 0 auto;
    width: 40%;
    background-color: $base-color;
    text-transform: uppercase;
    font-size: rem(20px);
    font-weight: 600;
    padding: 10px 15px;
    transition: 0.1s ease-in-out;
    &:hover {
      background-color: $base-color-darker;
    }

    @include respond-to(phone) {
      width: 100%;
    }
  }
}

.input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px;
  outline: 0;
  font-size: rem(20px);
  white-space: pre-wrap;
  color: $main-font-color;
}
input:focus,
textarea:focus {
  outline: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
